.bookPreview {
  display: flex;
  gap: 1rem;
}

.bookPreview img {
  width: 4rem;
  height: 6rem;
}

.bookInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.titleAuthor {
  display: flex;
  flex-direction: column;
}

.titleAuthor a {
  font-weight: 700;
}
