.postPreview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid var(--charcoal);
  padding: 0 0 0.5rem 0;
}

.top {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.titleContainer {
  max-width: 10rem;
}

.postPreview a {
  font-weight: 700;
}

.postPreview a:hover {
  text-decoration: underline;
}

.profileImage {
  height: 3rem;
  width: 3rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.titleContainer .authorLink {
  font-weight: 400;
  color: var(--medium-gray);
}

.ratingContainer {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--charcoal);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratingContainer.liked {
  border-color: green;
  color: green;
  background-color: lightgreen;
}

.ratingContainer.okay {
  border-color: yellow;
  color: yellow;
  background-color: lightyellow;
}

.ratingContainer.disliked {
  border-color: red;
  color: red;
  background-color: pink;
}

.noteContainer {
  padding: 0 0 0 0.3rem;
  display: flex;
  gap: 0.3rem;
}

.interactionContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.likeCommentContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.likeCommentInfo {
  display: flex;
  gap: 0.5rem;
  min-height: 1rem;
}

.likeCommentButtons {
  display: flex;
  gap: 0.5rem;
}

.interactionContainer svg {
  height: 2rem;
  width: 2rem;
}
