.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.top,
.followerFollowing,
.lists,
.userActivity {
  width: 100%;
}

.top h1 {
  font-size: 1.6rem;
}

.top img {
  height: 5rem;
  width: 5rem;
}

.followerFollowing {
  display: flex;
  justify-content: space-around;
}

.followerFollowing > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--charcoal);
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.bookListPreview {
  display: flex;
  justify-content: space-between;
}
