.likesModal {
  display: flex;
  flex-direction: column;
}

.wrapper {
  align-self: end;
}

.likesModal svg {
  width: 2rem;
  height: 2rem;
}

.userPreviews {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
