@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
}

:root {
  --teal: #144f5d;
  --white: #ffffff;
  --charcoal: #212121;

  /* for inputs and placeholder text*/
  --soft-gray: #eaeaea;
  --medium-gray: #989898;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--white);
  color: var(--charcoal);
  font-size: 14px;
}

input {
  background-color: var(--soft-gray);
  color: var(--charcoal);
}

input::placeholder {
  color: var(--medium-gray);
}

main {
  padding: 0 1rem;
}

header,
main,
footer {
  width: 100%;
}

header,
footer {
  max-height: 75px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button.disabled {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
  background-color: red;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal,
.notification {
  background-color: var(--soft-gray);
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  display: flex;
  z-index: 1000;
  border-radius: 0.3rem;
}

.modal {
  top: 50%;
  width: clamp(250px, 95vw, 350px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}

.modal svg {
  width: 2rem;
  height: 2rem;
}

.notification {
  top: 10%;
  width: clamp(250px, 50vw, 250px);
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.notification svg {
  width: 5rem;
  height: 5rem;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}
