@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
}

:root {
  --teal: #144f5d;
  --white: #ffffff;
  --charcoal: #212121;

  /* for inputs and placeholder text*/
  --soft-gray: #eaeaea;
  --medium-gray: #989898;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--white);
  color: var(--charcoal);
}

input {
  background-color: var(--soft-gray);
  color: var(--charcoal);
}

input::placeholder {
  color: var(--medium-gray);
}

header,
main,
footer {
  width: 100%;
}

header,
footer {
  max-height: 75px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
