.headerContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.topContainer {
  display: flex;
  justify-content: space-between;
}

.logOut {
  width: 4rem;
}

.searchButton {
  background-color: var(--soft-gray);
  color: var(--medium-gray);
  padding: 0.5rem;
  border-radius: 0.3rem;
}
