.initialThoughts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.bookInfo {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  border: 1px solid var(--charcoal);
  padding: 0.5rem;
  border-radius: 1rem;
}

.reaction {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.buttonContainer {
  display: flex;
  gap: 1.5rem;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
  width: 72px;
  font-size: 0.8rem;
  gap: 0.3rem;
}

.buttonWrapper button {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.addNoteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.nextButton {
  padding: 0.3rem;
}

.comparisonBooks {
  display: flex;
}

.comparisonBooks button {
  width: 5rem;
  height: 5rem;
  border: 1px solid black;
  border-radius: 1rem;
}
